.article
    .article-content
        .article-content__title-sup настроение
        h3.article-content__title Приподнятое
        .article-content__text
            | Вам будет о чём поговорить с вашими соседями. Этот дом — для тех, кто высокий уровень культуры считает
            | не менее важным, чем высокий уровень дохода. Эстетические стандарты здесь задаются с самого начала: даже уличное пространство перед зданием оформлено
            | эффектно. Изысканный интеллигентный стиль проявляется и в архитектуре самого дома; и в арт-объектах, украшающих двор; и в тщательно
        .visible-xl
            a(href='#').article-content__link-btn Смотреть фото
    .article-photo
        img(src="img/article/crop-copy.jpg"  srcset="img/article/crop-copy@2x.jpg 2x, img/article/crop-copy@3x.jpg 3x" alt="")

.article.article--reverse
    .article-content
        .article-content__title-sup ощущение
        h3.article-content__title  Безмятежность
        .article-content__text
            | Стоит приятная тишина, и вы можете прислушиваться к тонким нюансам звукового ландшафта. Из маленького ресторанчика
            | на первом этаже доносятся обрывки речи на разных языках и едва уловимый запах хорошего кофе. Никуда не торопясь, мимо проходит
            | гуляющая молодая пара. Тут же, изо всех сил стараясь быть быстрым, проезжает мальчишка на велосипеде.
            | Упитанный кот лениво оглядывается по сторонам с видом хозяина. По воздуху разлит почти осязаемый уют. Хорошо. Вы
        a(href='#').article-content__link-btn.visible-xs Смотреть фото
    .article-photo
        img(src="img/article/view-3-img.jpg"  srcset="img/article/view-3-img@2x.jpg 2x, img/article/view-3-img@3x.jpg 3x" alt="")

.article.article--column
    .article-content
        h3.article-content__title  Расположение
        .article-content__text
            | Стоит приятная тишина, и вы можете прислушиваться к тонким нюансам звукового ландшафта. Из маленького ресторанчика на первом
            | этаже доносятся обрывки речи на разных языках и едва уловимый запах хорошего кофе. Никуда не торопясь, мимо проходит гуляющая молодая пара.
            | Тут же, изо всех сил стараясь быть быстрым, проезжает мальчишка на велосипеде. Упитанный кот лениво оглядывается по сторонам с видом хозяина. По воздуху разлит почти
    .article-photo.article-photo--pdg
        img(src="img/article/news.jpg"  srcset="img/article/news@2x.jpg 2x, img/article/news@3x.jpg 3x" alt="")
    ul.article-gallery
        li.gallery__item--lg.gallery__item--offset
            img(src="img/article/img-2.jpg"  srcset="img/article/img-2@2x.jpg 2x, img/article/img-2@3x.jpg 3x" alt="")
        li.gallery__item--sm
            img(src="img/article/img-1.jpg"  srcset="img/article/img-1@2x.jpg 2x, img/article/img-1@3x.jpg 3x" alt="")
            .gallery__item-name Вид с переулка
        li.gallery__item--md.gallery__item--offset.gallery__item--offset-xl
            img(src="img/article/img-5.jpg"  srcset="img/article/img-5@2x.jpg 2x, img/article/img-5@3x.jpg 3x" alt="")
        li.gallery__item--md.gallery__item--offset-sm
            img(src="img/article/img-4.jpg"  srcset="img/article/img-4@2x.jpg 2x, img/article/img-4@3x.jpg 3x" alt="")
            .gallery__item-name.visible-sm Вид с переулка
